* {
  margin:0;padding:0;
}

#calculator {
  width: 21rem;
  margin: 10vh auto 1rem;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

#calculator p {
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
}

#displayInput {
  padding-top: 0.5rem;
  color: hsl(0, 60%, 60%);
  height: 1.4rem;
  word-wrap: break-word;
}

#displayCurrent {
  padding-bottom: 0.2rem;
  color: hsl(0, 100%, 90%);
  font-size: 1.5rem;
}

#keyPads {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 4rem);
  grid-gap: 0.2rem;
}

.grid {
  display: inline-grid;
  place-items: center;
  background-color: hsl(0, 0%, 15%);
  font-size: 2rem;
}

.operator {
  background-color: hsl(0, 0%, 19%);
}

#clear {
  grid-column: 1 / span 2;
  background-color: hsl(0, 100%, 40%);
}

#equals {
  grid-column: 4;
  grid-row: 4 / span 2;
  background-color: hsl(0, 100%, 20%);
}

#decimal {
  background-color: hsl(0, 30%, 20%);
}

#zero {
  grid-column: 1 / span 2;
  grid-row: 5;
}

footer {
  text-align: center;
}