* {
  margin:0;padding:0;border:none;
}

@font-face {
  font-family: 'digital';
  src: url('./fonts/digital-7.ttf');
}

#calculator {
  width: 21rem;
  margin: 15vh auto 1rem;
  background-color: hsl(0, 0%, 0%);
  padding: 0.5rem;
}

#calculator p {
  text-align: right;
  font-family: 'digital';
}

#displayInput {
  padding-top: 0.5rem;
  color: hsl(0, 60%, 60%);
  word-wrap: break-word;
  height: 1.4rem;
}

#display {
  padding-bottom: 0.2rem;
  color: hsl(0, 100%, 90%);
  font-size: 2rem;
}

#keyPads {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 4rem);
  grid-gap: 0.2rem;
}

button {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.grid {
  display: inline-grid;
  place-items: center;
  background-color: hsl(0, 0%, 15%);
}

.operator {
  background-color: hsl(0, 0%, 40%);
}

#clear {
  grid-column: 1 / span 2;
  background-color: hsl(0, 100%, 40%);
}

#equals {
  grid-column: 4;
  grid-row: 4 / span 2;
  background-color: hsl(0, 100%, 20%);
}

#decimal {
  background-color: hsl(0, 30%, 20%);
}

#zero {
  grid-column: 1 / span 2;
  grid-row: 5;
}

footer {
  text-align: center;
}